header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position:absolute;
    top:0px;
}

.logo{
    text-decoration: none;
    color: white;
}

header h1{
    margin-left: 35%;
}

@media (width < 540px) {
    header{
        flex-direction: column;
        align-items: start;
    }
}

header img {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1524207874394-5ec7c8c8e1a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(15px);
}

.login-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.login {
    font-size: 24px;
    margin-bottom: 10px;
}

.grupo {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-field {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color solid 2s;
}

.login-button:hover{
    background-color: #504f4f;
}